@page "/Ques4"

    <h3>Explain all binding with example</h3>

<p>
    <b>Blazor supports three types of bindings:-</b><br />
    <ol>
        <li>
            One-way binding
        </li>
        <li>
            Two-way binding
        </li>
        <li>
            Event Binding
        </li>
    </ol><br />
    <b>One-way binding</b><br />
    In this binding the value of any property or variable is used in order to use the values.For example:
    
    {    string Name = "Neha";} to use the value of this variable write the variable with at_the_rate synbol.

    <br />
    <b>Two-way binding</b><br />
    In this binding property is used to get or set the value of any variable.It is acheived using bind.To assign any value to a variable for eg from textbox input the textbox can be bind with the property.In order to use the value of the variable the get accessor will return the value.

    <br />
    <b>Event Binding</b><br />
    In event binding an event is binded with the action to be performed when the event occurs.For example:when a button is clicked it is supposed to perform any action.To perform that action the button needs to be bind with any function in which the action will be written that will be performed.
    
</p>