@page "/Ques2"

<h3> What is the component and component parameter</h3>


<p>

    Blazor is cmponent driver programming.Components can be nested,reused and shared across multiple projects.Once component can be nested inside other components by simply writing ComponentName enclosed in angular bracket in the body of the component in which it has to be used.Extension of component is .razor and it always starts with Capital letter.Reusable non page components are placed in shared folder and thos wo produce web pages are kept in pages folder.
    <br/><br />
    <b>Razor Component=HTML+C#</b>
    <br/><br />
    At the top of every component routing is given.No two components can have same routing.But single component can have multiple routing.
    <br/><br />
    Multiple routing is mainly given in the cases in which our component accepts any parameter like Id of an employee or name of an employee.
    While using parameters a property is created to set the value received and [Parameter] attribute is written with the property.
</p>