@page "/Ques1"


    <h3>Difference between the Blazor client-side and server-side and also explain web assembly and Signal R connection</h3>

    <p>
        <br />
        There are two hosting models in blazor:-
        <br />
        1.Blazor Server
        <br />
        2.Blazor Web Assembly<br/>

        <h5>Blazor Server</h5>
        <br />

        <img src="/Images/blazorServer.jpg" asp-append-version="true"/><br/>
        If Blazor Server is used a connection between the web browser and the server is created using SignalR connection.This connection takes the information of the event occurred at the browser to the server.The response to the event is generated at the server side and using the render tree the difference is calculated.Only the difference is sent back to the browser using SignalR connection.
        <br/><br />
        <h5>Blazor Web Assembly</h5>
        If Blazor Web Assembly is used all the execution is done at the browser.No call is made to the server.We can say that an execution environment is created at the browser all the necessary services are added to the browser itself.
    </p>

    


