
@{
    ViewBag.Title = "_CustomError";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Error Occurred</h2>

<h4>Something Went Wrong!!!!</h4>
<div class="container w-75 h-50">

    <img src="~/Images/error.png" />
</div>
