
@{
    ViewBag.Title = "_Error";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
    <div>
        <h2>An error occurred due to some problem.</h2>
        <img src="~/Images/error.png" />
    </div>


