<nav>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <ul class="mcd-menu">
        <li>
            <a href="">
                <i class="fa fa-home"></i><br/>                
                <strong>Home</strong>
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/assets/gradiation-white.svg" />
                <strong>Student Management</strong>
            </a>
            <ul>
                <li>
                    <a href="#">
                        <img src="~/assets/dashboard-white.svg" />
                        <strong>Dashboard</strong>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/wrench-white.svg" />
                        <strong>Configurations</strong>
                    </a>
                    <ul>
                        <li>
                        <a href="#">
                                <strong>Authorized Designation</strong>
                        </a></li>
                        <li>
                            <a href="#">
                                <strong>Set Attendance Type</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>Vertical Attendance Group</strong>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/document-white.svg" />
                        <strong>Admission and Enrolments</strong>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">
                <img src="~/assets/co-curricular-white.svg" />
                <strong>Co-Curricular</strong>

            </a>
        </li>
    </ul>
</nav>
