
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

    <div class="container p-5">
        <h2>Explain MVC and the benefit of MVC</h2>

        <p>MVC is an architecture which divides the application into seperate components.Each component has it's specified role for which it is responsible.Three components of MVC are:-1.Model 2.View 3.Controller</p>

        <p>
            Model contains all the classes that have information about the data.All the interactions with the database or any other data source is done by the model and model brings the data from the data sources.Model do not have any knowledge of other two components of the architecture.
        </p>

        <p>
            View is responsible for the user interface that the user will see.It takes the data from the model directly or from the controller and then geerates the respective UI to show the data to the user.
        </p>

        <p>
            Controller performs the main task i.e. it accepts the request and then process that request.It interacts with the model to get the desired data and from the view to render the data.Thus,fulfilling the request received and sending the response of the request.
        </p>


        <img src="~/MVCImage.jpg" />

        <p style="font-weight:bold">Benefits of MVC:</p>
        <ol>
            <li>Easy to develop applications using this framework.</li>
            <li>Helps in acheiving proof of concern(POC).</li>
            <li>Easy to maintain</li>
        </ol>
        </div>
