@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h5>Date and Time are:</h5>
    @Functions.DateAndTime()
</div>


@section UseRenderSection
{
    <div class="container">
        <h2>Using Render Section</h2>
        <img src="~/Images/renderSection.jpg" />
    </div>
}

