
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
    <div class="container p-5">
        <h2>Explain MVC Life Cycle</h2>

        
        <img src="~/MVC_Life_Cycle.png" />
       <br/><br />
        <p>Whenever a HTTP Request is sent the page life cycle of an MVC apllication starts.First thing that happens after the Request is received is Routing.Once the request is received the routing module is responsible to reaverse the routing table and the matching route is searched.The MVC framework handles converting the route data and assigns the request to the corresponding controller.After the creation of the controller Action Execution is done.Action invoker finds the desired action to invoke the controller.Once the action is called and the result is generated according to the type of result further action is take.If the result generated is of type view,the view engine is called which is responsible for finding the view. </p>

    </div>