@model DynamicMenu.Models.TblEmpDetails

@{
    ViewData["Title"] = "AddNew";
}

<h4>New Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add New Employee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



